body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #bf80fe;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: left;
}

header {
    background-color: #8000ff;
    color: #ffb26f;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: #ff7800;
    color: #8000ff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #c75d00;
    color: #dda7ff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #009340;
  color: black;
  text-decoration: none; /* Removes the underline */
  border-radius: 5px;    /* Rounds the corners */
  font-weight: bold;
}

.button:hover {
    background-color: #00421c;
    color: white;
}