header {
    background-color: #848484;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin: 0px auto;
    width: 1200px;
    max-width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.CsfxH {
    background-color: #ff587a;
    color: black;
    padding: 3px;
    border-radius: 5px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 100%;
    text-align: center;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.FsfxH {
    background-color: #f7ff18;
    color: black;
    padding: 3px;
    border-radius: 5px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 100%;
    text-align: center;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.MsfxH {
    background-color: #1cff33;
    color: black;
    padding: 3px;
    border-radius: 5px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 100%;
    text-align: center;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.Cbutton {
    background-color: #d40031;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.Cbutton:hover {
    background-color: #a80027;
    color: #ffffff;
}

.CsfxButton {
    background-color: #ff587a;
    color: black;
    border: none;
    padding: 10px 20px;
    text-decoration: none; /* Removes the underline */
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-weight: italic;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.CsfxButton:hover {
    background-color: #973145;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.Fbutton {
    background-color: #cdd400;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.Fbutton:hover {
    background-color: #84880d;
    color: white;
}

.FsfxButton {
    background-color: #f7ff18;
    color: black;
    border: none;
    padding: 10px 20px;
    text-decoration: none; /* Removes the underline */
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-weight: italic;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.FsfxButton:hover {
    background-color: #959923;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.MsfxButton {
    background-color: #1cff33;
    color: black;
    border: none;
    padding: 10px 20px;
    text-decoration: none; /* Removes the underline */
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-weight: italic;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.MsfxButton:hover {
    background-color: #13a522;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: verdana, 'Times New Roman', Times, serif;
}

.Mbutton {
    background-color: #13b724;
    color: black;
    border: none;
    padding: 10px 20px;
    text-decoration: none; /* Removes the underline */
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.Mbutton:hover {
    background-color: #0e7a19;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.sugB {
    background-color: #848484;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none; /* Removes the underline */
    font-size: 21px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.sugB:hover {
    background-color: #363636;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.btt {
    background-color: #848484;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none; /* Removes the underline */;
    font-size: 21px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: auto;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.btt:hover {
    background-color: #363636;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.updlog {
    background-color: #c66d00;
    color: black;
    border: none;
    padding: 10px 20px;
    text-decoration: none; /* Removes the underline */;
    font-size: 21px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: auto;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}

.updlog:hover {
    background-color: #854900;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: italic;
    font-family: playfair display, 'Times New Roman', Times, serif;
}